<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Nico Mena</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/all.min.css">
        <script src="https://kit.fontawesome.com/44d505838e.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anton&family=Oswald&family=Roboto&display=swap" rel="stylesheet">
    </head>
<body>
    <header>
        <section class="top-header">
            <a href="/home"><img src="/images/NMENA06.png" alt="logo"></a>
           
            <section class="main-navbar">
                <ul class="login">    
                    <li><a href="mailto:nico6mena@gmail.com">Contáctanos<i class="fa-solid fa-envelope"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                </ul>
            </section>
        </section>
    </header>
    <main>
        <section class="main">
            <article class="art">
                <h2 class="art_title">Guitarras</h2>
                <img src="/images/guitar.webp" alt="Guitarra">
                <div class="art-guitar">
                    <label for="acces"><a href="/guitarras">Accede a todo el material disponible</a></label>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
            </article>

            <article class="art">
                <h2 class="art_title">Material</h2>
                <img src="/images/material.png" alt="Guitarra">
                <div class="art-guitar">
                    <label for="acces"><a href="/material">Accede a todo el material disponible</a></label>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
            </article>

            <article class="art">
                <h2 class="art_title">Música</h2>
                <img src="/images/guitar.webp" alt="Guitarra">
                <div class="art-guitar">
                    <label for="acces">Acceder</label>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
            </article>

            <article class="art">
                <h2 class="art_title">Lecciones</h2>
                <img src="/images/lesson.jpg" alt="Guitarra">
                <div class="art-guitar">
                    <label for="acces"><a href="/lecciones">Accede a todo el material disponible</a></label>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
            </article>

            <article class="art">
                <h2 class="art_title">pruebaaa</h2>
                <img src="/images/guitar.webp" alt="Guitarra">
                <div class="art-guitar">
                    <label for="acces"><a href="/arc/guide-jazz.pdf">Accede a todo el material disponible</a></label>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
            </article>

            <article class="art">
                <h2 class="art_title">Noticias</h2>
                <img src="/images/guitar.webp" alt="Guitarra">
                <div class="art-guitar">
                    <label for="acces"><a href="https://www.guitarworld.com/">Accede a todo el material disponible</a></label>
                    <i class="fa-solid fa-arrow-right"></i>
                </div>
            </article>
        </section>
    </main>

    <footer>
        <section class="home-footer">
            <div class="home-footer__art">
                <h4 class="home-footer__art_p">Esta es una web creada con el motivo de adquirir los conocimientos necesarios del front-end</h4>
            </div>
            <div class="home-footer__art_list">
                <ul class="list">
                    <h2>About</h2>
                    <li><a href="https://www.w3schools.com/html/">HTML</a></li>
                    <li><a href="https://www.w3schools.com/css/">CSS</a></li>
                    <li><a href="https://www.w3schools.com/js/">JS</a></li>
                    <li><a href="https://www.w3schools.com/php/">PHP</a></li>
                </ul>
            </div>
            <div class="home-footer__art_i">
                <div class="home-footer_i">
                    <h3>Sígueme!</h3>
                    <a href="https://www.instagram.com/n6mena/"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.facebook.com/profile.php?id=100000313931438"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://twitter.com/nmena06"><i class="fa-brands fa-twitter"></i></a>
                    <a href="https://www.youtube.com/channel/UC-ST-iXA2OnKkljgdVYecRA"><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
        </section>
    </footer>
</body>
</html>




