<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>NMENA06</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/all.min.css">
        <script src="https://kit.fontawesome.com/44d505838e.js" crossorigin="anonymous"></script>
    </head>
<body class="index">
    <header>
        <div class="header-index">
            <img src="/images/NMENA06.png" alt="">
             <h1 class="header-title"></h1> 
        </div>
    </header>


    <main>
        <h2 class="main-title"></h2>
        <div class="main-title__b">
            <button type="" class="boton-sign"><a href="/register">Registrarse</a></button>
        </div>
        <div class="main-title__b">
            <button type="" class="boton-sign"><a href="/home">Ingresar</a></button>
        </div>
    </main>

    <footer class="index-footer">
        <div class="index-footer_i">
            <a href="https://www.instagram.com/n6mena/"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.facebook.com/profile.php?id=100000313931438"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.youtube.com/channel/UC-ST-iXA2OnKkljgdVYecRA"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://twitter.com/nmena06"><i class="fa-brands fa-youtube"></i></a>           
        </div>
    </footer>
</body>
</html>



