<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>NMENA06</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/all.min.css">
        <script src="https://kit.fontawesome.com/44d505838e.js" crossorigin="anonymous"></script>
    </head>
<body>
    <header>
        <section class="top-header">
            <a href="/home"><img src="/images/NMENA06.png" alt="logo"></a>
           
            <section class="main-navbar">
                <ul class="login">    
                    <li><a href="mailto:nico6mena@gmail.com">Contáctanos<i class="fa-solid fa-envelope"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                </ul>
            </section>
        </section>
    </header>

    <main class="main">
        
        <div class="main-lesson">
        <h1>Material</h1>
            <h3>Desde libros de estudio hasta escalas exóticas y progresiones armónicas, esta sección recopila material de práctica y estudio</h3>
        </div>

        

        <section class="section-material"></section>
            <div class="web-info">           
                <h2 class="art_title">Progresiones armónicas</h2>
             
                <div class="art-guitar">
                    <h3>Progresion II - V - I </h3>
                    <p>Porgresión armónica utilizada para la construcción de canciones estilo Jazz</p>
                </div>
                
            </div>    
            <iframe src="https://docs.google.com/viewer?srcid=10LXotyEcWk2mpRChTA-yrnR4sXCHOzeB&pid=explorer&efh=false&a=v&chrome=false&embedded=true" class="pdf"  frameborder="0" ></iframe>
        </section>
    </main>
    
    <footer>
        <section class="home-footer">
            <div class="home-footer__art">
                <h4 class="home-footer__art_p">Esta es una web creada con el motivo de adquirir los conocimientos necesarios del front-end</h4>
            </div>
            <div class="home-footer__art_list">
                <ul class="list">
                    <h2>About</h2>
                    <li><a href="https://www.w3schools.com/html/">HTML</a></li>
                    <li><a href="https://www.w3schools.com/css/">CSS</a></li>
                    <li><a href="https://www.w3schools.com/js/">JS</a></li>
                    <li><a href="https://www.w3schools.com/php/">PHP</a></li>
                </ul>
            </div>
            <div class="home-footer__art_i">
                <div class="home-footer_i">
                    <h3>Sígueme!</h3>
                    <a href="https://www.instagram.com/n6mena/"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.facebook.com/profile.php?id=100000313931438"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://twitter.com/nmena06"><i class="fa-brands fa-twitter"></i></a>
                    <a href="https://www.youtube.com/channel/UC-ST-iXA2OnKkljgdVYecRA"><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
        </section>
    </footer>
</body>
</html>



