<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>NMENA06</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/all.min.css">
        <script src="https://kit.fontawesome.com/44d505838e.js" crossorigin="anonymous"></script>
    </head>
<body>
    <header>
        <section class="top-header">
            <a href="/home"><img src="/images/NMENA06.png" alt="logo"></a>
           
            <section class="main-navbar">
                <ul class="login">    
                    <li><a href="mailto:nico6mena@gmail.com">Contáctanos<i class="fa-solid fa-envelope"></i></a></li>
                    <li><a href="/login">Ingresá <i class="fa-solid fa-right-to-bracket"></i></a></li>
                </ul>
            </section>
        </section>
    </header>

    <main class="main">
        <form action="/" method="post" class="form-register">
            <div class="form-reg">
                <div class="form-control">
                    <h3 class="title-form">Nombre y Apellido</h3>
                    <label for="name"></label>
                    <input type="text" name="name" placeholder="Nombre y apellido" class="control">
                </div>
                <div class="form-control">
                    <label for="user"></label>
                    <input type="text" name="user" placeholder="Nombre de usuario" class="control">
                </div>
                <div class="form-control">
                    <h3 class="title-form">Fecha de nacimiento</h3>
                    <label for="born"></label>
                    <input type="date" name="born" value="AAAA-MM-DD" class="control">
                </div>
                <div class="form-control">
                    <label for="adress"></label>
                    <input type="text" name="adress" placeholder="Domicilio" class="control">
                </div>
                <div class="form-control">
                    <h3 class="title-form">Seleccionar una imagen de perfil</h3>
                    <div>
                        <label for="avatar"></label>
                        <input type="file" name="avatar" placeholder="Avatar" class="control">
                    </div>
                </div>
                
                
                <div class="form-control">
                    <label for="pass"></label>
                    <input type="password" name="pass" placeholder="Contraseña" class="control">
                </div>
                <div class="form-control">
                    <label for="re-pass"></label>
                    <input type="password" name="re-pass" placeholder="Confirmar contraseña" class="control">
                </div>
                <div class="form-button">
                    <button type="" class="boton-formulario"><a href="/">Enviar</a></button>
                    <button type="reset" class="boton-formulario">Borrar</button>
                </div>
            </div>
        </form>
    </main>

    <footer>
        <section class="home-footer">
            <div class="home-footer__art">
                <h4 class="home-footer__art_p">Esta es una web creada con el motivo de adquirir los conocimientos necesarios del front-end</h4>
            </div>
            <div class="home-footer__art_list">
                <ul class="list">
                    <h2>About</h2>
                    <li><a href="https://www.w3schools.com/html/">HTML</a></li>
                    <li><a href="https://www.w3schools.com/css/">CSS</a></li>
                    <li><a href="https://www.w3schools.com/js/">JS</a></li>
                    <li><a href="https://www.w3schools.com/php/">PHP</a></li>
                </ul>
            </div>
            <div class="home-footer__art_i">
                <div class="home-footer_i">
                    <h3>Sígueme!</h3>
                    <a href="https://www.instagram.com/n6mena/"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.facebook.com/profile.php?id=100000313931438"><i class="fa-brands fa-facebook"></i></a>
                    <a href="https://twitter.com/nmena06"><i class="fa-brands fa-twitter"></i></a>
                    <a href="https://www.youtube.com/channel/UC-ST-iXA2OnKkljgdVYecRA"><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
        </section>
    </footer>
</body>
</html>



